
body{
  font-family: Century Gothic, Regular;
}

/* line 42, ../scss/paymentForm.scss */
.address-floating-placeholder {
  font-size: 16pt;
  line-height: 2.6em;
  height: 2.3em;
  margin: 0;
  padding-top : 15px !important;
  width: 100%;
}

.label-color{
 color: #3F8FCD !important;  
}

.bg-border-color { border-bottom: 4px solid #3F8FCD !important }

.address-focuscolorEffect{
  top: 0px !important;
}

.address-focuscolorGreyEffect{
  color: #666666 !important;
  top: 0px !important;
}

.address-ie9FocusInLabelClass{
  font-size: 10px !important;
  top: -16px !important;
}

.address-ie9FocusOutLabelClass{
  font-size: 10px !important;
  color: #999999 !important;
  top: -16px !important;
}

/* line 57, ../scss/paymentForm.scss */
.address-floating-placeholder {
   position: relative;
}

/* line 61, ../scss/paymentForm.scss */
.address-floating-placeholder input {
  font-size: 16pt;
  line-height: 2.6em;
  height: 2.3em;
  margin: 0;
  padding-top : 15px !important;
  width: 100%;
  border: none;
  outline: none;
  position: absolute;
  top: 4px;
  color: #333333;
  display: block;
  background: transparent;
  z-index: 2;
  border-bottom: 1px solid #999999;
  text-indent: 1.8em;
}

.address-text-intent {
   text-indent: 0.1em !important; 
}

.address-validBorderBottom{
    border-bottom: 1px solid #999999 !important;
}
.address-inValidBorderBottom{
    border-bottom: 4px solid #FF0000 !important;
    color:#FF0000 !important;
}
/* line 76, ../scss/paymentForm.scss */
.address-floating-placeholder label {
  display: block;
  position: absolute;
  top: 10px;
  font-size: 13pt;
  z-index: 1;
  -webkit-transform-origin: 0 0em;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -o-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -webkit-transform: scale(1, 1) rotateY(0);
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -o-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  color: #666666;
}
/* line 88, ../scss/paymentForm.scss */
.address-floating-placeholder-float label {
  -webkit-transform: scale(0.55, 0.55) rotateY(0);
  -moz-transform: scale(0.55, 0.55) rotateY(0);
  -ms-transform: scale(0.55, 0.55) rotateY(0);
  -o-transform: scale(0.55, 0.55) rotateY(0);
  transform: scale(0.55, 0.55) rotateY(0);
}

/* line 91, ../scss/paymentForm.scss */
.address-floating-placeholder-float input {
   line-height: 1.1em !important 
}

input[type=text]::-ms-clear, input[type=text]::-ms-reveal {
    display: none;
}

.countryStyle{
  border: none !important;
  border-bottom: 1px solid #999999 !important;
  box-shadow: none !important;
  font-size: 13pt !important;;
  color: #666666 !important;
  display: block !important;
  font-weight: 700 !important;;
  padding-top: 9px !important;;
  padding-left: 0px !important;;
  margin-left: -4px !important;;
  border-radius: 0px !important;;
  text-transform: uppercase !important;;
}

/*This will work for firefox*/
@-moz-document url-prefix() {
  .address-floating-placeholder-float input {
   padding-top: 22px !important;
  }
}

.requiredInput:after { content:"*"; font-size: 0.7em; float: right; margin-top: 9px; margin-right: 6px;;
}

/* prevent text from appearing underneath the icon */
input[reset-field] {
  padding-right: 19px;
}

/* hide the built-in IE10+ clear field icon */
input[reset-field]::-ms-clear {
  display: none;
}

/* hide cancel icon for search type */
input[reset-field]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* icon styles */
input[reset-field] + .fa {
  position: relative;
  right: 19px;
  color: #C0C0C0;
  cursor: default;
}

.CountryForMobile{
  height:3.2em !important; 
  margin-bottom:-26px !important; 
}

.CountryForDesktop{
  height:3.0em !important; 
  margin-bottom:-22px !important; 
}

.CountryForIFrame{
  height: 2.7em !important;
  margin-bottom: -8px !important;
}

.billingAddressLabel{
  display: block !important;;
  font-size: 15pt !important;;
  color:#666666 !important;
}

.asterisk-class{
  font-size: 10px;
  margin-left: 6px;
  top: -1px;
}

.ie9asterisk-class{
  font-size: 10px;
  margin-left: 6px;
  top: -1px;
}

